<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="../../static/consultas_pweb2/css/styles.css"> 
  <script src="../../static/consultas_pweb2/js/peticiones.js"></script>
</head>
<body>
  <h1>Hola mundo</h1>
  <p>Este es un documento desde django</p>
  <select id="opciones">
    <option value="" selected disabled hidden>Selecciona una opción</option>
    <option value="actor">Actores</option>
    <option value="casting">Casting</option>
    <option value="movies">Películas</option>
  </select>
  <br>
  <br>
  <table id="tabla_contenido" >
    <tr>
      <td>Ingresa la tabla que deseas visualizar</td>
    </tr>
  </table>
</body>
</html>
